<style>
    body.dark-mode footer,
    body.dark-mode .f-info {
    background: #232323 !important;
    color: #f1f1f1 !important;
}

    body.dark-mode .f-info-links a,
    body.dark-mode .f-info-socials i {
    color: #f1f1f1 !important;
    cursor: pointer;
}
</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brand"> &copy; VistaStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>