<% layout("/layouts/boilerplate") %>

<style>
    .form_body {
            background-color: white;
            border-radius: 8px;
            padding: 30px 30px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
            margin: auto; /* Initial shadow to lift form */
        }
    .dark-mode{
        .form_body {
            background-color: #2e2e2e;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5); /* Initial shadow to lift form */
        }

        /* Input Fields Styling */
        .login_form input[type="text"],
        .login_form input[type="password"] {
            background-color: #2c2c2c;
            color: #ffffff;
            border: 1px solid #555555;
            transition: box-shadow 0.3s ease; /* Smooth hover transition for input */
        }

        .login_form input[type="text"]::placeholder,
        .login_form input[type="password"]::placeholder {
            color: #aaaaaa;
        }

        .login_form input[type="text"],
        .login_form input[type="password"] {
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            margin-top: 10px;
        }

        .login_form label{
            color: #fff;
        }
    }
</style>
<div class="row mt-3">
    <div class="col-6 offset-3 form_body">
        <h2 class="heading text-center">Welcome Back</h2>
        <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3 login_form">
            <label for="username" 
            class="form-label"
            ><b>Username</b></label>
            <input type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            required>
        </div>
        <div class="mb-3 login_form">
            <label for="password" 
            class="form-label"
            ><b>Password</b></label>
            <input type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required>
        </div>
        <!-- <div class="mb-3">
            <label for="profileImage" 
            class="form-label"
            >Profile Image URL</label>
            <input type="text" 
            class="form-control" 
            id="profileImage" 
            name="profileImage">
        </div> -->
              <br>
              <div class="d-grid gap-2">
                <button class="btn btn-danger" name="saveButton" type="submit">LOG IN</button>
                <a href="/listing" class="btn btn-secondary" type="button">Go back</a>
              </div>
              <div class="mt-2 text-center navigatee">
                Don't have an account? <a href="/signup">Register</a>
              </div>
            </div>
    </form>
    </div>   
</div>