<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2>Signup on WanderLust</h2>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" 
            class="form-label"
            >Username</label>
            <input type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="email" 
            class="form-label"
            >Email</label>
            <input type="email" 
            class="form-control" 
            id="email" name="email" 
            required>
        </div>
        <div class="mb-3">
            <label for="password" 
            class="form-label"
            >Password</label>
            <input type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" 
            class="form-label"
            >Confirm Password</label>
            <input type="password" 
            class="form-control" 
            id="confirmPassword" 
            name="confirmPassword" 
            required>
        </div>
        <!-- <div class="mb-3">
            <label for="profileImage" 
            class="form-label"
            >Profile Image URL</label>
            <input type="text" 
            class="form-control" 
            id="profileImage" 
            name="profileImage">
        </div> -->
        <button type="submit"
        class="btn btn-success">Sign Up</button>
    </form>
    </div>   
</div>