<% layout("/layouts/boilerplate") %>
<style>
        .form_body {
            background-color: white;
            border-radius: 5px;
            padding: 30px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin: 3rem 3rem;
        }
    .dark-mode{
        .form_body {
            background-color: #2e2e2e;
            border-radius: 5px;
            padding: 30px;
            box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .form-label {
            color: #ffffff;
        }
        /* Input Fields Styling */
        .signup_form input[type="text"], input[type="password"],input[type="email"]{
            background-color: #373737;
            color: #ffffff;
            border: 1px solid #555555;
            /* transition: box-shadow 0.3s ease; */
        }
    
        .signup_form input[type="text"]::placeholder,
        .signup_form input[type="password"]::placeholder, 
        .signup_form input[type="email"]::placeholder {
            color: #aaaaaa;
        }
    }
    
    /* Style for the form-control with toggle icon */
    .signup_form {
        position: relative;
    }



</style>
<div class="row mt-3">
    <div class="col-6 offset-3 mx-auto form_body">
        <h2 class="heading text-center">Create an account </h2>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3 signup_form">
            <label for="username" 
            class="form-label"
            >Username</label>
            <input type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3 signup_form">
            <label for="email" 
            class="form-label"
            >Email</label>
            <input type="email" 
            class="form-control" 
            id="email" name="email" 
            required>
        </div>
        <div class="mb-3">
            <label for="password" 
            class="form-label"
            >Password</label>
            <input type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" 
            class="form-label"
            >Confirm Password</label>
            <input type="password" 
            class="form-control" 
            id="confirmPassword" 
            name="confirmPassword" 
            required>
        </div>
        <!-- <div class="mb-3">
            <label for="profileImage" 
            class="form-label"
            >Profile Image URL</label>
            <input type="text" 
            class="form-control" 
            id="profileImage" 
            name="profileImage">
        </div> -->
        <button type="submit"
        class="btn btn-success">Sign Up</button>
    </form>
    </div>   
</div>